{{- $version := .Values.talosVersion }}
{{- $versionSlug := $version | replace "." "-" }}
apiVersion: tuppr.home-operations.com/v1alpha1
kind: TalosUpgrade
metadata:
  name: talos-upgrade-{{ $versionSlug }}
spec:
  talos:
    version: {{ $version }}
