namespace: traefik

tailscale-ingress:
  enabled: true
  ingresses:
    - name: tailscale
      hostname: traefik
      service:
        create: true
        targetPort: 8080
        targetSelector:
          app.kubernetes.io/instance: traefik-traefik
          app.kubernetes.io/name: traefik

traefik:
  # A complete list of values can be found here:
  # https://github.com/traefik/traefik-helm-chart/blob/master/traefik/values.yaml
  #
  # Useful examples here:
  # https://github.com/traefik/traefik-helm-chart/blob/master/EXAMPLES.md

  priorityClassName: "system-cluster-critical"

  additionalArguments:
    # Expose dashboard without TLS - safe because it's behind Tailscale Ingress
    # which provides HTTPS termination. Do not expose directly to internet.
    - "--api.insecure=true"

  # Expose metrics via dedicated service for Prometheus scraping
  metrics:
    prometheus:
      service:
        enabled: true
        annotations:
          prometheus.io/scrape: "true"
          prometheus.io/port: "9100"
