{{- range .Values.ingresses }}
{{- if .mdns }}
{{- $hostnameParts := split "." .hostname }}
{{- $hostname := $hostnameParts._0 }}
{{- $port := .mdns.port | default 80 }}
{{- $types := .mdns.types | default (list (dict "type" "_http._tcp")) }}
{{- $service := merge (dict "hostname" $hostname "port" $port "types" $types) .mdns }}
{{- include "mdns-config.configmap" (dict
    "Release" $.Release
    "name" (printf "%s-mdns-%s" $.Release.Name $hostname)
    "service" $service
) }}
{{- end }}
{{- end }}
