{{- range .Values.ingresses }}
{{- if .mdns }}
{{- $service := merge (dict "hostname" (index (split "." .hostname) 0) "port" (.mdns.port | default 80) "types" (.mdns.types | default (list (dict "type" "_http._tcp")))) .mdns }}
{{- include "mdns-config.configmap" (dict
    "Release" $.Release
    "name" (printf "%s-mdns-%s" $.Release.Name (index (split "." .hostname) 0))
    "service" $service
) }}
{{- end }}
{{- end }}
