{{- if .Values.podCleanup.enabled }}
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: cleanup-succeeded-pods
  namespace: {{ .Release.Namespace }}
spec:
  schedule: {{ .Values.podCleanup.succeededSchedule | quote }}
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 3
  jobTemplate:
    spec:
      ttlSecondsAfterFinished: 60
      template:
        spec:
          serviceAccountName: cluster-maintenance
          restartPolicy: OnFailure
          containers:
            - name: cleanup
              image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
              imagePullPolicy: {{ .Values.image.pullPolicy }}
              args:
                - delete
                - pods
                - -A
                - --field-selector=status.phase=Succeeded
              securityContext:
                allowPrivilegeEscalation: false
                readOnlyRootFilesystem: true
                runAsNonRoot: true
                runAsUser: 1001
                capabilities:
                  drop: ["ALL"]
          securityContext:
            seccompProfile:
              type: RuntimeDefault
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: cleanup-failed-pods
  namespace: {{ .Release.Namespace }}
spec:
  schedule: {{ .Values.podCleanup.failedSchedule | quote }}
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 3
  jobTemplate:
    spec:
      ttlSecondsAfterFinished: 60
      template:
        spec:
          serviceAccountName: cluster-maintenance
          restartPolicy: OnFailure
          containers:
            - name: cleanup
              image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
              imagePullPolicy: {{ .Values.image.pullPolicy }}
              args:
                - delete
                - pods
                - -A
                - --field-selector=status.phase=Failed
              securityContext:
                allowPrivilegeEscalation: false
                readOnlyRootFilesystem: true
                runAsNonRoot: true
                runAsUser: 1001
                capabilities:
                  drop: ["ALL"]
          securityContext:
            seccompProfile:
              type: RuntimeDefault
{{- end }}
