{{- if .Values.oauth.bitwardenSecretIds }}
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: operator-oauth
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: bitwarden-secretsmanager
    kind: ClusterSecretStore
  target:
    name: operator-oauth
    creationPolicy: Owner
  data:
    - secretKey: client_id
      remoteRef:
        key: {{ .Values.oauth.bitwardenSecretIds.clientId }}
    - secretKey: client_secret
      remoteRef:
        key: {{ .Values.oauth.bitwardenSecretIds.clientSecret }}
{{- end }}
