# The root application for ArgoCD, through which all other
# applications are created. The app is created during the
# cluster bootstrap process, and should not be modified.

apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: applications
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/bafulton/homelab
    targetRevision: main
    path: kubernetes/appsets
    directory:
      recurse: true
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated: {}
