apiVersion: v1
kind: PersistentVolume
metadata:
  name: minio-rpi5-usb
spec:
  capacity:
    storage: 1500Gi
  accessModes:
    - ReadWriteOnce
  storageClassName: ""
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: /var/mnt/usb/minio-data
    type: DirectoryOrCreate
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - rpi5
