apiVersion: v1
kind: PersistentVolume
metadata:
  name: minio-rpi5-usb
spec:
  capacity:
    storage: 1500Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: /var/mnt/usb/minio-data
    type: DirectoryOrCreate
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - rpi5
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minio
  namespace: {{ .Release.Namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1500Gi
  volumeName: minio-rpi5-usb
