{{- define "mdns-config.configmap" -}}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .name }}
  labels:
    mdns.homelab.io/advertise: "true"
data:
  config.yaml: |
    name: {{ .service.name | quote }}
    hostname: {{ .service.hostname | quote }}
    ip: {{ .service.ip | quote }}
    port: {{ .service.port }}
    types:
    {{- range .service.types }}
      - type: {{ .type | quote }}
        {{- if .txtRecords }}
        txtRecords:
          {{- range .txtRecords }}
          - {{ . | quote }}
          {{- end }}
        {{- end }}
    {{- end }}
{{- end }}
