name: ArgoCD Diff Preview

on:
  pull_request:
    branches: [main]
    paths:
      - 'kubernetes/**'

jobs:
  diff:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Generate ArgoCD Diff
        uses: dag-andersen/argocd-diff-preview@v0.0.28
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          base-branch: main
          target-branch: ${{ github.head_ref }}
          files: |
            kubernetes/appsets/infra.yaml
            kubernetes/appsets/apps.yaml
